/* importing css for toast notification */
@import url("react-toastify/dist/ReactToastify.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar styling */
/* width*/
.scrollBar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.scrollBar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  background: #1f2937;
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: #1f2937;
}

.scrollBar {
  scrollbar-width: thin;
}
